<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>header</param-name>
        <param-value>Group 5</param-value>
    </context-param>
    <context-param>
        <param-name>footer</param-name>
        <param-value>This is a sample website created as part of our FAP in ICS2609</param-value>
    </context-param>
    <context-param>
        <param-name>copyright</param-name>
        <param-value>Copyright © AJ_Alvarez, JS_Estaya</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ph.activelearning.LoginServlet</servlet-class>
        <init-param>
            <param-name>Cipher</param-name>
            <param-value>AES/ECB/PKCS5Padding</param-value>
        </init-param>
        <init-param>
            <param-name>Key</param-name>
            <param-value>AlvarezEstayaDuo</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbDriver</param-name>
            <param-value>jdbc:derby://localhost:1527/UserDB</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PdfReportsServlet</servlet-name>
        <servlet-class>ph.activelearning.PdfReportsServlet</servlet-class>
        <init-param>
            <param-name>Cipher</param-name>
            <param-value>AES/ECB/PKCS5Padding</param-value>
        </init-param>
        <init-param>
            <param-name>Key</param-name>
            <param-value>AlvarezEstayaDuo</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbDriver</param-name>
            <param-value>jdbc:derby://localhost:1527/UserDB</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>APP</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriver2</param-name>
            <param-value>org.h2.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbDriver2</param-name>
            <param-value>jdbc:h2:tcp://localhost:9092/~/CourseDB</param-value>
        </init-param>
        <init-param>
            <param-name>username2</param-name>
            <param-value>APP</param-value>
        </init-param>
        <init-param>
            <param-name>password2</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>ph.activelearning.CaptchaServlet</servlet-class>
        <init-param>
            <param-name>captchaLength</param-name>
            <param-value>5</param-value>
        </init-param>
    </servlet>
    <error-page>
        <exception-type>NullValueException</exception-type>
        <location>/noLoginCredentials.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error_4.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>PDFSettingServlet</servlet-name>
        <servlet-class>ph.activelearning.PDFSettingServlet</servlet-class>
        <init-param>
            <param-name>Cipher</param-name>
            <param-value>AES/ECB/PKCS5Padding</param-value>
        </init-param>
        <init-param>
            <param-name>Key</param-name>
            <param-value>AlvarezEstayaDuo</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbDriver</param-name>
            <param-value>jdbc:derby://localhost:1527/UserDB</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriver2</param-name>
            <param-value>org.h2.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbDriver2</param-name>
            <param-value>jdbc:h2:tcp://localhost:9092/~/CourseDB</param-value>
        </init-param>
        <init-param>
            <param-name>username2</param-name>
            <param-value>APP</param-value>
        </init-param>
        <init-param>
            <param-name>password2</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>ph.activelearning.SignupServlet</servlet-class>
        <init-param>
            <param-name>Cipher</param-name>
            <param-value>AES/ECB/PKCS5Padding</param-value>
        </init-param>
        <init-param>
            <param-name>Key</param-name>
            <param-value>AlvarezEstayaDuo</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbDriver</param-name>
            <param-value>jdbc:derby://localhost:1527/UserDB</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>APP</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriver2</param-name>
            <param-value>org.h2.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbDriver2</param-name>
            <param-value>jdbc:h2:tcp://localhost:9092/~/CourseDB</param-value>
        </init-param>
        <init-param>
            <param-name>username2</param-name>
            <param-value>APP</param-value>
        </init-param>
        <init-param>
            <param-name>password2</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfReportsServlet</servlet-name>
        <url-pattern>/PdfReportsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFSettingServlet</servlet-name>
        <url-pattern>/PDFSettingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>
